/*Stylesheet Inuits.be, in addition to the blueprint css files.
	Fixed width layout, 24 grid system ( 30px + 10px margin )
	Transparant background TODO : support older browsers !!
	*/
	
	
/*
	Inuits.be Site
*/

/* 	General*/


	/* Body Styling*/
	
	body {
		line-height:18px;
	}
	#body {
		line-height: 18px;
		background: url(../images/pattern.png) repeat;
	}
	.container#main {
		margin-top: 3em;
		border-top: solid 1px #C6DACB;
		border-bottom: solid 1px #C6DACB;
	}
	
	
	/* Content Styling*/
	
	.content {
		background-color: rgba(255,255,255, 0.7);
		margin-bottom: 1em;
		margin-top: 1em;
		padding: 1em 1em 1em 1em;
		padding-left: 30px;
	}
	#content {
		margin-top: 1em;
		background-color: rgba(255,255,255,0.2);
		margin-bottom: 1.5em;
	}
	
	
	/*Fonts*/
	
	.title {
		color: white;
	}
	
	
	/*Links*/
	
	a, a:link {
		color: rgb(105, 97, 88);
	}
	a:visited {
		color: rgb(80, 74, 67);
	}
	a:hover, a:active {
		color: rgb(71,66,60);
	}
	
	
	/*Breadcrumb*/
	
	.breadcrumb {
		font-size:12px;
		margin-top: 1.5em;
		margin-bottom: 1.5em;
		line-height: 18px;
		color:white;
	}


/*	Front Page Styling*/


/*	Header Styling*/

	#top {
		margin: 1em 1em -1em 1em;
	}
	#top-container {
		background-color: rgba(255,255,255, 0.2);
	}
	#top img {
		padding-left: 15px;
	}
	#header {
		margin-top: 20px;
		height: 150px;
	}	
	#logo {
		float:left;
		height: 150px;
		background: url(images/inuits-logo.png) no-repeat;
	}
	.container#top-container {
		margin-bottom: -1em;
		margin-top: 2em;
		border-top: solid 1px #C6DACB;
	}
	
	
	/*Links*/
		
	#nav-1 ul li{
		list-style: none;
	}	
	#nav-2 ul li{
		list-style: none;
	}
	#nav-3 ul li{
		list-style: none;
	}
	#top a:active{
		color: rgb(80,74,67);
	}
	#top a:hover {
		color: rgb(71,66,60);
	}
	#top a{
		color: rgb(105, 97, 88);
	}
	#top a:visited {
		color: rgb(80,74,67);
	}
	
	
/* 	Footer Styling*/

	#full-width-footer-1 {
		background: rgba(0, 0, 0, 0.2);
	}
	#full-width-footer-1 div.container {
		margin: 0 auto;
	}
	.container-footer{
		margin: 0 auto;
		width: 950px;
	}
	#full-width-footer-2 {
		background: rgba(0,0,0, 0.4);
	}
	#full-width-footer-2 div.container {
		margin: 0 auto;
	}
	#footer-links-people {
		margin-top: 1em;
	}
	#footer-links-people h3 {
		padding-left: 0;
		text-align: center;
	}
	#footer-links-explore {
		margin-top: 1em;
	}
	#footer-links-explore h3 {
		padding-left: 0;
		text-align: center;
	}
	#footer-links-info {
		margin-top:1em;
	}
	#footer-links-info h3 {
		padding-left: 0;
		text-align: center;
	}
	#footer-links h3 {
		padding-bottom: 5px;
		border-bottom: 1px solid white;
	}
	#footer-links .content {
		background-color: transparent;
	}
	#footer-links ul {
		list-style:none;
	}
	#footer-links ul li {
		list-style: none;
		height: 1.5em;
		width: 100%;
		display: block;
		margin-bottom: 2px;
	}
	#footer-links ul li a{
		background-color: rgba(255,255,255, 0.7);
		color: black;
		width: 100px;
	}
	#footer-links ul li a:hover{
		color: white;
		background-color: rgba(0,0,0,0.2);
	}
	#footer-links ul li a:visited{
		color: black;
	}
	#copyright {
		color: white;
		float: left;
		padding-top: 0.415em;
		padding-bottom: 0.415em;
	}
	#top {
		border-bottom: solid 1px #C6DACB;
		padding-top: 10px;
		padding-bottom: 5px; 
		background: rgba(255,255,255, 0.7);
	}
.footer-border {
	border-bottom: solid 2px #C6DACB;
	}	
	
	
/* 	Block Styling */

	.block {
		background-color: rgba(255,255,255, 0.2);
		margin-top: 1em;
		padding-left: 10px;
		padding-right: 5px;
		padding-bottom: 1em;
	}
	.block h3 {
		padding-left: 15px;
		padding-top:1em;
		color: white;
	}
	#block-views-Latestnews-block_1 .content{
		display:none;
	}
	#block-views-Tweeter-block_1 {
		background-image: url(../images/Tweeterbird.png);
		background-repeat: no-repeat;
		background-position: -10px 10px;
	}


/*	Node Styling */

	div.node {
		background-color: rgba(255,255,255,0.2);
		padding-left: 10px;
		padding-right:5px;
		margin-top: 1em;
	}
	.node h2 {
		padding-left: 15px;
		padding-top: 1em;
		color: white;
	}
	.node .meta {
		padding-left: 15px;
	}


/*	Aggregator Styling */

	.feed-item {
		background-color: rgba(255,255,255, 0.2);
		margin-top: 1em;
		padding-left:10px;
		padding-right: 5px;
		padding-bottom: 1em;
	}
	.feed-item-title {
		padding-left: 15px;
		padding-top: 1em;
	}
	.feed-item-title a:link {
		color: white;
	}
	.feed-item-title a:hover {
		color: rgb(71,66,60);
	}
	.feed-item-title a:clicked
	{
		color:white;
	}
 
	.feed-item-title a:active {
		color:white;
	}

	.feed-item h3 a:visited {
		color:rgb(80,74,64);
	}
	.feed-item-body {
		background-color: rgba(255,255,255, 0.7);
		margin-bottom:1em;
		margin-top: 1em;
		padding-left: 10px;
		padding-right: 5px;
		padding-top: 1em;
		padding-bottom: 1em;
	}
	#aggregator .feed-item-title {
		font-size: 18px;
		font-style: bold;
		margin-bottom: 1em;
	}
	#aggregator .feed-item-meta {
		font-style: italic;
	}
	.feed-item-body {
		font-size: 12px;
		margin-top: 1.5em;
		line-height: 18px;
	}				
	.feed-item-body p{
		margin-bottom: 1.5em;
	}
	.feed-source {
		margin-bottom: 1.5em;
	}
	
		
/*	Contact Mail Page*/

	#contact-mail-page {
		background-color: rgba(255,255,255, 0.7);
		margin-bottom: 1em;
		margin-top: 1em;
		padding: 1em 1em 1em 1em;
	}


/*	Extra Styling */

	#block-views-Tweeter-block_1 {
		padding-top: 1em;
	}
	.more-link a{
		padding-right: 5px;
	}
	.clear {
		clear:both;
	}


/*	CUSTOM BLOCKS */


/*	LATEST NEWS */

	#block-views-Latestnews-block_1 {
		background-color: rgba(255,255,255, 0.2);
		margin-top: 1em;
		padding-left: 10px;
		padding-right: 5px;
	}
	#block-views-Latestnews-block_1 h3 {
		padding-left: 15px;
		padding-top: 1em;
		color: white;
	}
	#block-views-Latestnews-block_1 .content {
		background-color: rgba(255,255,255,0.7);
	}


/* BLOCK 4 logos, partners, customers, etc. */

	#block-block-4 {
		margin-top: 1em;
		padding-top: 1em;
		background-color: rgba(255,255,255, 0.2);
		padding-left: 10px;
		padding-right: 5px;
	}
	#block-block-4 h3{
		padding-left: 15px;
		padding-top: 1em;
		color: white;
	}
	#block-block-4 .content {
		background-color: rgba(255,255,255,0.7);
	}


/* Borders */

	.planet-inuits-border{
		border-right: solid 1px #336F70;
	}	


/* Drupal primary and secondary links*/

	#secondary-links {
		padding-top: 10px;
		text-align: right;
	}
	#primary-links {
		float: right;
	}


/* Views styling*/

	.view-content{
	}
	.view-content img{
		margin-bottom: 0.5em;
	} 