/*Stylesheet Inuits.be, in addition to the blueprint css files.
	Fixed width layout, 24 grid system ( 30px + 10px margin )
	Transparant background TODO : support older browsers !!!
	Body background,auto rescaling full image TODO debug javascript !!!
	TODO's 		images
				logo
				Clean up code
	*/
	
	
/* Layout */

body {
	line-height:18px;
	}
#body{
		background: rgb(250,255,237);
	}
#full-width-footer-1 {
	background: rgba(0, 0, 0, 0.2);
	}
#full-width-footer-1 div.container {
	margin: 0 auto;
	}
.container-footer{
	margin: 0 auto;
	width: 950px;

	}
#full-width-footer-2 {
	background: rgba(0,0,0, 0.4);
	}
#full-width-footer-2 div.container {
	margin: 0 auto;
	}
#header {
	margin-top: 20px;
	height: 150px;
	}	
#logo {
	float:left;
	height: 150px;
	background: url(images/QuickHeaderInuitsSitev1.png) no-repeat;
	}
#planet-inuits {
	
	}
.why{
	margin-top: 1.5em;
	padding-left: 10px;
	height: 240px;
	background: rgba(255,255,255, 0.5);	
	}
#who{
	margin-top: 1.5em;
	height: 240px;
	background: rgba(255,255,255, 0.5);
	}
#where{
	margin-top: 1.5em;
	height: 240px;
	background: rgba(255,255,255, 0.5);
}
#twitter {
	background: rgba(255,255,255, 0.5);
	}
.more-link a{
	padding-right: 5px;
	}
#block-views-Latestnews-block_1 {
	margin-top: 1em;
	}
#block-block-4 {
	margin-top: 1em;
	}
#footer-links-people {
	margin-top: 1em;
	}
#footer-links-explore {
	margin-top: 1em;
	}
#footer-links-info {
	margin-top:1em;
	}

/* Navigation */

#nav {
	margin-top: 1.5em;
	width: 150px;
	list-style-type: none;
	}
#nav ul {
	list-style: none;
	}
#nav li {
	list-style-image:none;
	}	
#nav li a{
	width: 150px;
	display: block;
	height: 30px;
	background: url(images/MENUinuits.png) no-repeat scroll 0 0;
	text-indent: -9999px;
	list-style:none;
	}
#nav li a#news:active,
#nav li a#news:hover,
#nav li a#news:focus {
	background-position: -150px 0;
	}	
#nav li a#vision {
	background-position: 0 -30px;
	}
#nav li a#vision:active,
#nav li a#vision:hover,
#nav li a#vision:focus {
	background-position: -150px -30px;
	}
#nav li a#believers {
	background-position: 0 -60px;
	}
#nav li a#believers:active,
#nav li a#believers:hover,
#nav li a#believers:focus {
	background-position: -150px -60px;
	}
#nav li a#people {
	background-position: 0 -90px;	
	}
#nav li a#people:active,
#nav li a#people:hover,
#nav li a#people:focus {
	background-position: -150px -90px;
	}
#nav li a#jobs{
	background-position: 0 -120px;
	}
#nav li a#jobs:active,
#nav li a#jobs:hover,
#nav li a#jobs:focus {
	background-position: -150px -120px;
	}
#nav li a#contact {
	background-position: 0 -150px;
	}
#nav li a#contact:active,
#nav li a#contact:hover,
#nav li a#contact:focus {
	background-position: -150px -150px;
	}
#nav li a#planet {
	background-position: 0 -180px;
	}
#nav li a#planet:active,
#nav li a#planet:hover,
#nav li a#planet:focus {
	background-position: -150px -180px;
	}
#nav li a#benefits {
	background-position: 0 -210px;
	}
#nav li a#benefits:active,
#nav li a#benefits:hover,
#nav li a#benefits:focus {
	background-position: -150px -210px;
	}
#nav-1 ul li{
	list-style: none;
	}
#nav-2 ul li{
	list-style: none;
	}
#nav-3 ul li{
	list-style: none;
	}

/* Typography */

#body {line-height: 18px;}

.bordercontent h2 {
	margin-bottom: 1em;
	}
#top a:active{
	color: rgb(80,74,67);
	}
#top a:hover {
	color: rgb(71,66,60);
	}
#top a{
	color: rgb(105, 97, 88);
	}
#top a:visited {
	color: rgb(80,74,67);
	}


/* Borders */

/* Needs to be done like this due to the blueprint grid system 
	place the borders within the grid div otherwise the width will
	be incorrect and the div's will overflow */

.borderlogo {
	padding-left: 30px;
 	border-left-style: solid;
	border-left-width: 10px;
	border-left-color: #336F70;
	height: 150px;
	}
.whyborder {
	border-left: solid 15px #336F70;
	}
.contentborder{
	margin-top: 1.5em;
	border-left: solid 15px #336F70;
	height: 240px;
	position: absolute;
	z-index: 1;
	}
.bordercontent{
	margin-top: 1.5em;
	margin-left: 20px; 
	}
.content {
	padding-left: 30px;
	}
.bordermenu {
	margin-top: 1.5em;
	padding-left: 5px;
	border-left: solid 1px #C6DACB;	
	}	
#header-bottom-border {
	height: 150px;
	border-bottom: solid 10px #C6DACB;
	}
.footer-border {
	border-bottom: solid 2px #C6DACB;
	}	
.container#main {
	margin-top: 3em;
	border-top: solid 1px #C6DACB;
	border-bottom: solid 1px #C6DACB;
	}
.container#top-container {
	margin-bottom: -1em;
	margin-top: 5em;
	border-top: solid 1px #C6DACB;
	}
.planet-inuits-border{
	border-right: solid 1px #336F70;
	}	
	
/* Drupal primary and secondary links*/

#secondary-links {
	padding-top: 10px;
	text-align: right;
	}
#primary-links {
	float: right;
	}
	
/* Drupal  sidebar block styling */

.bordermenu .block {
 	border-width: 0.166em 0.664em 0.166em 0.166em ;
 	border-style: solid;
 	border-color: #C6DACB;
 	padding: 1.7em 0.5em 0.5em 0.75em;
	font-size: 0.8333em;
	line-height: 1.8em;
	}
.bordermenu .block h3 { margin-bottom: 1.333em;}

/* Drupal breadcrumb styling*/ 

.breadcrumb {
	font-size:12px;
	margin-top: 1.5em;
	margin-bottom: 1.5em;
	line-height: 18px;
	}

/* Drupal content styling*/

#content {
	margin-bottom: 1em;
	margin-bottom: 1.5em;
	}
#inner-content{
	margin-top: 12px;
	padding-right: 15px;
	}
.bordercontent .title {
	padding-top: 0.5em;
	}
#content .border {
	height: 360px;
	}
.front #content .bordercontent {
	margin-top: 0em;
	}
#content-front{
	margin-left: 175px;
	}
	
/* Drupal aggregator styling */

#aggregator .feed-item {

	}
#aggregator .feed-item-title {
	font-size: 18px;
	font-style: bold;
	margin-bottom: 1em;
	}
#aggregator .feed-item-meta {
	font-style: italic;
	}
.feed-item-body {
	font-size: 12px;
	margin-top: 1.5em;
	line-height: 18px;
	}				
.feed-item-body p{
	margin-bottom: 1.5em;
	}
.feed-source {
	margin-bottom: 1.5em;
	}

/* Footer */

#copyright {
	float: left;
	padding-top: 0.415em;
	padding-bottom: 0.415em;
	}
#top {
	border-bottom: solid 1px #C6DACB;
	padding-top: 10px;
	padding-bottom: 5px; 
	background: rgba(255,255,255, 0.5);
	}

/* Views styling*/

.view-content{
	}
.view-content img{
	margin-bottom: 0.5em;
	} 

/* Additional styling */

.clear {
	clear:both;
	}

/* Body background */

#body-image {
	width: 100%;
	position: absolute;
	top:0;
	left:0;
	z-index: -10;
	}


/* Background colors */

.block {
	background: rgba(255,255,255, 0.5);
}

.container {
	/*background: rgba(255,255,255, 0.5);*/
	}